<div class="forms">
  <% if defined?(subtitle) %>
  <h3><%= raw(subtitle) %></h3>
  <% end %>
  <div class="row">
    <%= f.label :sku, f.object.class.human_attribute_name(:sku) %>
    
    <div class="inputs">
      <span class="input_wrapper"><%= f.text_field(:sku, :class => "text") %></span>
    </div>
  </div>
  <div class="row">
    <%= f.label :quantity, f.object.class.human_attribute_name(:quantity) %>
    
    <div class="inputs">
      <span class="input_wrapper"><%= f.text_field(:quantity, :class => "text") %></span>
    </div>
  </div>
  <div class="row">
    <%= f.label :price, f.object.class.human_attribute_name(:price) %>
    
    <div class="inputs">
      <span class="input_wrapper"><%= f.text_field(:price, :class => "text") %></span>
    </div>
  </div>
  <div class="row">
      <%= f.label :option_values, f.object.class.human_attribute_name(:option_values) %>
      <div class="inputs">
          <%= token_input(f, :option_values, token_href: admin_option_values_url,
                                            other_search_methods: {with_product_id: f.object.product.id}) %>
      </div>
  </div>
  <%= link_to_add_variant_image_fields "Add image", f %>
  <fieldset class="subform" id ="variant_images">
    <%= f.fields_for :variant_images do |variant_image| -%>
      <legend><%= f.object.class.human_attribute_name(:variant_images) %></legend>
      <%= render partial: "admin/variants/variant_image_fields", locals: {f: variant_image} %>
    <% end -%>
  </fieldset>
</div>