  <%= render :partial => "admin/shared/flash_messages", :locals => {:flash => flash} %>
  <%= render :partial => "admin/shared/error_messages", :locals => {:model => @admin_user} %>

<div class="section">
  <div class="title_wrapper">
    <h2><%= raw(general_title) %></h2>
  </div>
  <div class="section_inner">
    <%= form_for @option_type, :url => admin_option_types_url, :method => :post, :html=> {:class => "search_form general_form"} do |form|%>
    <fieldset>
      <%= render :partial => "form", :locals => {:f => form} %>
      <div class="row" style="">
        <div class="inputs">
          <span class="button blue_button"><span><span><%= t('admin.submit') %></span></span><input type="submit" name="" /></span> 
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
