<div class="forms">
  <% if defined?(subtitle) %>
  <h3><%= raw(subtitle) %></h3>
  <% end %>
  <div class="row">
    <%= f.label :name, f.object.class.human_attribute_name(:name) %>
    
    <div class="inputs">
      <span class="input_wrapper"><%= f.text_field(:name, :class => "text") %></span>
    </div>
  </div>
  <%= admin_text_field(f, :description) %>
  <%= admin_date_time_picker(f, :avaible_on) %>
  <%= admin_date_time_picker(f, :expires_on) %>
  <div class="row">
    <%= f.label :is_active, f.object.class.human_attribute_name(:is_active) %>
    <div class="inputs">
      <%= f.check_box(:is_active) %>
    </div>
  </div>
  <div class="row">
      <%= f.label :option_types, f.object.class.human_attribute_name(:option_types) %>
      <div class="inputs">
          <%= token_input(f, :option_types) %>
      </div>
  </div>
  <%= f.fields_for :master do |master| -%>
  <fieldset class="subform">
    <legend><%= Product.human_attribute_name(:master) %></legend>
  <div class="row">
    <%= master.label :sku, Variant.human_attribute_name(:sku) %>
    <div class="inputs">
      <span class="input_wrapper">
        <%= master.text_field(:sku, :class => "text") %>
      </span>
    </div>
  </div>
  <div class="row">
    <%= master.label :price, Variant.human_attribute_name(:price) %>
    <div class="inputs">
      <span class="input_wrapper">
        <%= master.text_field(:price, :class => "text") %>
      </span>
    </div>
  </div>
  </fieldset>
  <% end -%>
</div>