<div id="container">
  <div class="wrapper">
    <div id="respond">
      <%= form_for @wishlist, method: :put do |f| %>
       <%= render partial: "form", locals: {f: f} %>
        <p>
          <%= f.submit "Update Wishlist", id: :submit, name: :submit %>
          &nbsp;
          <%#*<input type="reset" value="Reset Form" tabindex="5" id="reset" name="reset">%>
        </p>
      <% end %>
    </div>
  </div>
  <div id="column">
    <div id="featured">
      <ul>
        <% @participants.each do |product| -%>
          <li>
            <h2><%= product.name %></h2>
            <p class="imgholder">
              <%= image_tag product.master.first_image.url(:featured) %>
            </p>
            <p>
              <%= raw product.description %>
            </p>
            <p class="readmore">
              <%= link_to "Maybe I'm interested!", [product] %>
              <a href="#">Continue Reading »</a>
            </p>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>