<div id="container">
  <div class="wrapper">
    <div id="content">
      <h2>
        <%= @product.name  %>
      </h2>
      <div id="slider1" class="tinycarousel">
      <a class="buttons prev" href="#">left</a>
      <div class="viewport">
        <ul class="overview">
          <% @selected_variant.variant_images.each do |image| -%>
            <li><%= image_tag(image.asset.url(:original), style: "width: 240px; height: 125px;") %></li>
          <% end -%>
        </ul>
      </div>
      <a class="buttons next" href="#">right</a>
      </div>
      <%= add_to_wishlist(current_user, @selected_variant) if current_user -%>
      <p>
        <%= raw @product.description %>
      </p>
    </div>
    <div id="column">
      <div class="holder">
        <h2><%= Product.human_attribute_name(:related_products) %></h2>
        <ul id="latestnews">
          <% relateds = @product.active_total_related_products %>
          <% relateds.each_with_index do |related_product,index| -%>
            <li class="<%= (index == relateds.size - 1)  ? "last" : "" %>">
              <%= image_tag related_product.master.first_image.url(:public_lateral), class: "imgl" %>
              <p><strong><%= link_to related_product.name, product_url(related_product.permalink) %></strong></p>
              <p><%= truncate strip_tags(related_product.description), length: 17 %></p>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
    <br class="clear">
  </div>
</div>