<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
  <title>Meta Admin - Administration Clever Panel</title>
  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
  <%#*<link href="css/meta-admin.css" type="text/css" rel="stylesheet"></link>%>
  
  
  <!-- blue theme is default -->

  <!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="css/ie.css" /><![endif]-->
  <%#*<script src="js/css.js" type="text/javascript"></script>%>
  <%#*<link media="screen" href="css/js.css" type="text/css" rel="stylesheet"></link>%>
  <%#*<script src="js/behaviour.js" type="text/javascript"></script>%>
</head>

<body>
  <div id="wrapper">
    <div id="head">
      <div class="inner">
        <%= render :partial => "admin/shared/head" %>
      </div>
    </div>
    <div id="content">
      <div id="content_bottom">
        <div class="inner">
          
        </div>
      </div>
      <%= yield %>
    </div>
    
  </div>
  <%= render :partial => "admin/shared/footer" %>
  <% if false %>
	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		<!--[if !IE]>start head<![endif]-->
		<div id="head">
			<div class="inner">
				<h1 id="logo"><a href="#">Meta Admin v1 Clever Adminstration Panel</a></h1>
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li class="first">Welcome <strong>Username</strong></li>
						<li><a href="#">My Account</a></li>
						<li class="last"><a href="#">Log out</a></li>
					</ul>
					<div id="server_details">
						<dl>
							<dt>Server time:</dt>
							<dd>6:45 AM</dd>
						</dl>
						<dl>
							<dt>Last login ip:</dt>
							<dd>192.168.0.15</dd>
						</dl>
					</div>
				</div>
				<!--[if !IE]>end user details<![endif]-->
				
				<!--[if !IE]>start main menu<![endif]-->
				<div id="main_menu">
					<ul>
						<li>
							<a class="selected" href="#"><span><span>Dashboard</span></span></a>
							<ul>
								<li><a class="selected" href="#"><span><span>Secondary Menu1</span></span></a></li>
								<li><a href="#"><span><span>Latest Orders1</span></span></a></li>
								<li><a href="#"><span><span>Quick Settings1</span></span></a></li>
								<li><a href="#"><span><span>Selected Item1</span></span></a></li>
								
							</ul>
						</li>
						<li>
							<a href="#"><span><span>Store Settings</span></span></a>
							
						</li>
						<li>
							<a href="#"><span><span>Order Management</span></span></a>
							
						</li>
						<li><a href="#"><span><span>UserAccounts</span></span></a></li>
						<li><a href="#"><span><span>Catalog</span></span></a></li>
						<li><a href="#"><span><span>Promotions</span></span></a></li>
						<li><a href="#"><span><span>Static Pages</span></span></a></li>
						<li><a href="#"><span><span>Item Mouseover</span></span></a></li>
						<li><a href="#"><span><span>Press</span></span></a></li>
					</ul>
				</div>
				<!--[if !IE]>end main menu<![endif]-->
				
			</div>
		</div>
		<!--[if !IE]>end head<![endif]-->
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
			
			<!--[if !IE]>start content bottom<![endif]-->
			<div id="content_bottom">
			
			<div class="inner">
				
				<!--[if !IE]>start info<![endif]-->
				<div id="info">
					
					
					
					<!--[if !IE]>start section<![endif]-->
					<div class="section">
						<div class="title_wrapper">
							<h2>Dashboard</h2>
						</div>
						
						<!--[if !IE]>start section inner<![endif]-->
						<div class="section_inner">
							<div id="dashboard">
									<p>
									<strong>Welcome to lorem ipsum</strong> dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Integer nec erat in augue <strong><a href="#">luctus pellentesque</a></strong>. Aliquam tortor lacus, dapibus vitae, pulvinar eget, iaculis quis, arcu. Vestibulum eu eros. Quisque vitae mauris. Nunc a eros at lacus aliquet mollis. content link consectetur enim. Praesent et pede vitae dui consectetur vestibulum. Nulla ultricies tristique nibh. Sed id lorem vitae arcu imperdiet iaculis. Quisque nec elit. Aliquam bold link felis nulla, blandit sit amet, sodales eu, viverra at, lectus. Morbi bibendum, lectus vel faucibus placerat, lacus justo aliquet leo, at faucibus dolor magna ac urna. Curabitur blandit auctor dui. Vivamus auctor leo non eros. Aliquam dapibus nulla ac mi. Aliquam interdum pede ut leo. Quisque porta tincidunt libero. Suspendisse potenti. Maecenas dolor.
									</p>
									<ul>
										<li>List 1</li>
										<li>List 2</li>
										<li>List 3</li>
									</ul>
									
									
							</div>
						</div>
						<!--[if !IE]>end section inner<![endif]-->
						
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					
					
					
					
					
					<!--[if !IE]>start section<![endif]-->
					<div class="section">
						
						
						<div class="title_wrapper">
							<h2>Forms</h2>
							
						</div>
						
						
						<!--[if !IE]>start section inner <![endif]-->
						<div class="section_inner">
						
						<!--[if !IE]>start forms<![endif]-->
						<form class="search_form general_form" action="#">
							<!--[if !IE]>start fieldset<![endif]-->
							<fieldset>
								<!--[if !IE]>start forms<![endif]-->
								<div class="forms">
								<h3>Subtitle will go here if needed</h3>
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Valid check:</label>
									<div class="inputs">
										<span class="input_wrapper"><input type="text" name="" class="text"></span>
										<span class="system positive">This is a positive message</span>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Return error:</label>
									<div class="inputs">
										<span class="input_wrapper"><input type="text" name="" class="text"></span>
										<span class="system negative">This is a negative message</span>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Vertical radio:</label>
									<div class="inputs">
										<ul class="inline">
											<li> <input type="radio" value="" name="" class="radio"> all orders</li>
											<li><input type="radio" value="" name="" class="radio"> pending</li>
											<li><input type="radio" value="" name="" class="radio"> unshipped</li>
											<li><input type="radio" value="" name="" class="radio"> shipped</li>
										</ul>
										
										<ul class="inline">
											<li><input type="checkbox" value="" name="" class="checkbox"> all orders</li>
											<li><input type="checkbox" value="" name="" class="checkbox"> pending</li>
											<li><input type="checkbox" value="" name="" class="checkbox"> unshipped</li>
											<li><input type="checkbox" value="" name="" class="checkbox"> shipped</li>
										</ul>
										
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Attach files:</label>
									<div class="inputs">
										<span class="input_wrapper blank"><input type="file" name=""></span>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>City:</label>
									<div class="inputs">
										<span class="input_wrapper blank">
											<select>
												<option>Washington</option>
												<option>Washington</option>
												<option>Washington</option>
												<option>Washington</option>
												<option>Washington</option>
											</select>
										</span>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Price between:</label>
									<div class="inputs">
										<ul>
											<li><span class="input_wrapper medium_input"><input type="text" name="" class="text"></span></li>
											<li>and</li>
											<li><span class="input_wrapper medium_input"><input type="text" name="" class="text"></span> </li>
										</ul>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<label>Price between:</label>
									<div class="inputs">
										<ul class="mc_menu">
											<li><a href="#"><strong>B</strong></a></li>
											<li><a href="#"><i>i</i></a></li>
											<li><a href="#">u</a></li>
											<li><a href="#">Code</a></li>
											<li><a href="#">List</a></li>
											<li><a href="#">List=</a></li>
											<li><a href="#">[*]</a></li>
											<li><a href="#">URL</a></li>
											<li><a href="#">Img</a></li>
										</ul>
										
										<span class="input_wrapper textarea_wrapper">
											<textarea class="text" cols="" rows=""></textarea>
										</span>
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<div class="inputs">
										<span class="button blue_button search_button"><span><span><em><span class="button_ico"></span>Blue Icon</em></span></span><input type="submit" name=""></span>
										<span class="button orange_button"><span><span>Orange</span></span><input type="submit" name=""></span>
										<span class="button gray_button"><span><span>Grey</span></span><input type="submit" name=""></span> 
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								<!--[if !IE]>start row<![endif]-->
								<div class="row">
									<div class="inputs small_inputs">
										<span class="button blue_button lock_button"><span><span><em><span class="button_ico"></span>Blue Icon</em></span></span><input type="submit" name=""></span>
										<span class="button orange_button"><span><span>Orange</span></span><input type="submit" name=""></span>
										<span class="button gray_button"><span><span>Grey</span></span><input type="submit" name=""></span> 
									</div>
								</div>
								<!--[if !IE]>end row<![endif]-->
								
								
								
								</div>
								<!--[if !IE]>end forms<![endif]-->
								
								
								
								
								
								
							</fieldset>
							<!--[if !IE]>end fieldset<![endif]-->
							
							
							
							
						</form>
						<!--[if !IE]>end forms<![endif]-->
						
						
						
					<ul class="system_messages">
						<li class="white"><span class="ico"></span><strong class="system_title">White bar can be used for system messages and other neutral things.</strong> defwe fwef we</li>
						<li class="red"><span class="ico"></span><strong class="system_title">This is a negative error message !</strong></li>
						<li class="blue"><span class="ico"></span><strong class="system_title">Blue bar can be used for tips, information etc.</strong></li>
						<li class="green"><span class="ico"></span><strong class="system_title">This is a positive message !</strong></li>
						<li class="yellow"><span class="ico"></span><strong class="system_title">This is a warning !</strong></li>
					</ul>
					
					
					</div>
					<!--[if !IE]>end section inner<![endif]-->
					
					
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					
					
					
					
					<!--[if !IE]>start section<![endif]-->
					
					<div class="section">
					<div class="title_wrapper">
						<h2>Products</h2>
						
						
						<div id="product_list_menu">
							<!--[if !IE]>start product list tabs<![endif]-->
							<ul id="product_list_tabs">
								<li><a class="selected" href="#"><span><span>Featured</span></span></a></li>
								<li><a href="#"><span><span>All products</span></span></a></li>
								<li><a href="#"><span><span>Best Sellers</span></span></a></li>
							</ul>
							<!--[if !IE]>end product list tabs<![endif]-->
							<a class="update" href="#"><span><span><em>Add New</em><strong></strong></span></span></a>
						</div>
						
						
					</div>
					
					
					<!--[if !IE]>start section_inner<![endif]-->
					<div class="section_inner">
					
					<div id="product_list">
						
					
						<!--[if !IE]>start table_wrapper<![endif]-->
						<div class="table_wrapper">
							<div class="table_wrapper_inner">
							<table width="100%" cellspacing="0" cellpadding="0">
								<tbody><tr>
									<th>No.</th>
									<th class="photo"><span>Photo</span></th>
									<th><a class="asc" href="#">Name</a></th>
									
									<th><a href="#">Price</a></th>
									<th><a href="#">Move</a></th>
									
									<th>Actions</th>
								</tr>
								
								<tr class="first">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								<tr class="second">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								<tr class="first">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								<tr class="second">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								<tr class="first">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								<tr class="second">
									<td>1.</td>
									<td class="photo"><a class="product_thumb" href="#"><img width="73" height="41" alt="" src="images/product_photo.jpg"></a></td>
									<td><a class="product_name" href="#">Flash Website Templates Package</a></td>
									
									<td>$106.38</td>
									<td>
										<div class="move_menu">
											<ul>
												<li><a class="move1" href="#">1</a></li>
												<li><a class="move2" href="#">2</a></li>
												<li><a class="move3" href="#">3</a></li>
												<li><a class="move4" href="#">4</a></li>
											</ul>
										</div>
									</td>
									<td>
										<div class="actions_menu">
											<ul>
												
												<li><a href="#" class="edit">Edit</a></li>
												<li><a href="#" class="delete">Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
							</tbody></table>
							</div>
						</div>
						<!--[if !IE]>end table_wrapper<![endif]-->
						
						
					
						
					
					
					
					
					
					</div>
					</div>
					<!--[if !IE]>end section inner<![endif]-->
					
					
					
					
					
					
					
					</div>
				
					<!--[if !IE]>end section<![endif]-->
					
					
					
					
					
					
					<!--[if !IE]>start section<![endif]-->
					<div class="section">
					<div class="title_wrapper">
						<h2>Latest orders</h2>
						<a class="view_all_orders" href="#">View All Orders</a>
					</div>
					<!--[if !IE]>start section inner<![endif]-->
					<div class="section_inner">
						
						
						<!--[if !IE]>start table_wrapper<![endif]-->
						<div class="table_wrapper">
							<div class="table_wrapper_inner">
							<table width="100%" cellspacing="0" cellpadding="0">
								<tbody><tr>
									<th>No.</th>
									<th><a href="#">Status</a></th>
									<th><a class="asc" href="#">ID#</a></th>
									<th><a class="desc" href="#">Full Name</a></th>
									<th><a href="#">Date</a></th>
									<th><a href="#">Price</a></th>
									<th style="width: 96px;">Actions</th>
								</tr>
								<tr class="first">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="second">
									<td>1.</td>
									<td><span class="pending">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="first">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="second">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="first">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="second">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="first">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="second">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="first">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="second">
									<td>1.</td>
									<td><span class="approved">Approved</span></td>
									<td>FB-H061</td>
									<td>Elaine Rosen</td>
									<td>06/18/2008</td>
									<td>$106.38</td>
									<td>
										<div class="actions">
											<ul>
												<li><a href="#" class="action1">1</a></li>
												<li><a href="#" class="action2">2</a></li>
												<li><a href="#" class="action3">3</a></li>
												<li><a href="#" class="action4">4</a></li>
											</ul>
										</div>
									</td>
								</tr>
								
								
							</tbody></table>
							</div>
						</div>
						<!--[if !IE]>end table_wrapper<![endif]-->
						
						
					</div>
					<!--[if !IE]>end section inner<![endif]-->
					
					<!--[if !IE]>start pagination<![endif]-->
					<div class="pagination">
						<span class="page_no">Page 1 of 217</span>
						
						<ul class="pag_list" style="margin-left: -114.5px; visibility: visible;">
							<li><a class="prev" href="#">Previous</a></li>
							<li><a href="#">1</a></li>
							<li><span>2</span></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>...</li>
							<li><a href="#">217</a></li>
							<li><a class="next" href="#">Next</a></li>
						</ul>
						
						<form action="#">
							<fieldset>
								<label>Go to page:</label>
								<div class="pag_inputs">
									<span class="input_go"><input type="text" name=""></span>
									<span class="button"><input type="submit" value="" name=""></span>
								</div>
							</fieldset>
						</form>
					</div>
					<!--[if !IE]>end pagination<![endif]-->
					
					
					
				</div>
				<!--[if !IE]>end section<![endif]-->
				
				
				
				
					
					
				
				</div>
				<!--[if !IE]>end info<![endif]-->
				
				
				<!--[if !IE]>start sidebar<![endif]-->
				<div id="sidebar">
					
					<!--[if !IE]>start sidebar module<![endif]-->
					<div class="sidebar_module">
						<div class="title_wrapper">
							<h3>Statistics</h3>
						</div>
						<div id="statistics">
							<dl>
								<dt>Visitors in the last 24h</dt>
								<dd>2165</dd>
							</dl>
							<dl>
								<dt>Visitors in the last 24h</dt>
								<dd>2165</dd>
							</dl>
							<dl>
								<dt>Visitors in the last 24h</dt>
								<dd>2165</dd>
							</dl>
							<dl>
								<dt>Visitors in the last 24h</dt>
								<dd>2165</dd>
							</dl>
						</div>
					</div>
					<!--[if !IE]>end sidebar module<![endif]-->
					
					
					
					<!--[if !IE]>start sidebar module<![endif]-->
					<div class="sidebar_module">
						<div class="title_wrapper">
							<h3>Secondary Menu</h3>
						</div>
						<div id="secondary_menu">
							<ul>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
								<li><a href="#">More links</a></li>
							</ul>
						</div>
					</div>
					<!--[if !IE]>end sidebar module<![endif]-->
					
					
					
					<!--[if !IE]>start sidebar module<![endif]-->
					<div class="sidebar_module">
						<div class="title_wrapper">
							<h3>Latest Photos</h3>
							<a href="#" class="view_all_orders">View All</a>
						</div>
						<div class="gallery">
							<!--[if !IE]>start gallery inner<![endif]-->
							<div class="gallery_inner">
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								<!--[if !IE]>start product<![endif]-->
								<dl class="product">
									<dt>
										
										<a href="#"><img width="79" height="66" src="images/gallery_thumb.jpg" alt=""></a>
									</dt>
									<dd>
										<em>356 Kb</em>
										<ul>
											<li><a href="#" class="edit_product">Edit</a></li>
											<li><a href="#" class="delete_product">Delete</a></li>
										</ul>
									</dd>
								</dl>
								<!--[if !IE]>end product<![endif]-->
								
								
								
								
							</div>
							<!--[if !IE]>end gallery inner<![endif]-->
						</div>
					</div>
					<!--[if !IE]>end sidebar module<![endif]-->
					
					
				</div>
				<!--[if !IE]>end sidebar<![endif]-->
				
				
				
				
				
			</div>
			<!--[if !IE]>end content bottom<![endif]-->
			</div>
			
		</div>
		<!--[if !IE]>end content<![endif]-->
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		<div class="inner">
			<!--[if !IE]>start help & footer menu<![endif]-->
			<div id="help_footer_menu">
				
				<h4>HELP AND SUPPORT</h4>
				<p>
					Our live help operatives are available to assist you with the use of our admin system.
					Call us at 1-881-923-1800 or e-mail us at support@yourcompany.com
				</p>
				
				<h4>QUICK LINKS</h4>
				<ul id="footer_menu">
					<li><a href="#">Help</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Live Help</a></li>
				</ul>
			</div>
			<!--[if !IE]>end help & footer menu<![endif]-->
			<!--[if !IE]>start admin details<![endif]-->
			<div id="admin_details">
				
					<h4>MetaAdmin v1 <em>build 261208</em></h4> 
				<p>	
					Copyright 2008 Yourcompany.com <br>
					All rights reserved.
				</p>
				
				<div id="admin_performance">
					<dl>
						<dt>Page loaded in :</dt>
						<dd>0.0842s</dd>
					</dl>
					<dl>
						<dt>Sql queries used :</dt>
						<dd>30</dd>
					</dl>
				</div>
				
			</div>
			<!--[if !IE]>end admin details<![endif]-->
		</div>	
	</div>
	<!--[if !IE]>end footer<![endif]-->
	
	
<% end %>

</body>
</html>